In [0]:
%sql
USE CATALOG my_catalog;

In [0]:
%sql
USE SCHEMA emp_schema;

In [0]:
%sql
CREATE TABLE employees
(id int, name STRING,salary double)

In [0]:
%sql
INSERT INTO employees VALUES (1,"anu",2300),(2,"anusha",4500);
Insert into employees values (3,"mouni",9000),(4,"mamatha",8999);
INSERT into employees VALUES (5,"john",7654);
INSERT into employees values (6,"anna",554664);

In [0]:
%sql
select * from employees;

In [0]:
%sql
Describe detail employees

In [0]:
%fs ls 'my_catalog.emp_schema.employees'

In [0]:
%sql
update employees set salary=salary+100 where name like "%a"

In [0]:
%sql
describe detail employees

In [0]:
%sql
select * from employees

In [0]:
%sql
describe history employees