In [0]:
%sql
-- Databricks notebook source
-- MAGIC %md
-- MAGIC ## Preparing Sample Data

-- COMMAND ----------

use catalog my_catalog;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS smartphones
(id INT, name STRING, brand STRING, year INT);

INSERT INTO smartphones
VALUES (1, 'iPhone 14', 'Apple', 2022),
      (2, 'iPhone 13', 'Apple', 2021),
      (3, 'iPhone 6', 'Apple', 2014),
      (4, 'iPad Air', 'Apple', 2013),
      (5, 'Galaxy S22', 'Samsung', 2022),
      (6, 'Galaxy Z Fold', 'Samsung', 2022),
      (7, 'Galaxy S9', 'Samsung', 2016),
      (8, '12 Pro', 'Xiaomi', 2022),
      (9, 'Redmi 11T Pro', 'Xiaomi', 2022),
      (10, 'Redmi Note 11', 'Xiaomi', 2021)

In [0]:
%sql
--Also, we can use the SHOW TABLES command to show the list of tables and views as well.
show tables

In [0]:
%sql
/* Let us now create a stored view

that shows only Apple's phones.

Here, we use the CREATE VIEW statement

followed by the view name.

In our case, it's called view_apple_phones,

and with the AS keyword, we specify our logical query.

Here, we are selecting from smartphone tables

all records having a brand equal Apple.

Great, the view has been successfully created.*/

create  view  view_apple_phones as select * from smartphones where brand='Apple'

In [0]:
%sql
-- lets query our view To do so, we use a standard SELECT statement
select * from view_apple_phones

In [0]:
%sql
--Let us run SHOW TABLES command again.
show tables

## Temporary view

In [0]:
%sql
/*Let us now create a temporary view.

The syntax is very similar,

but we add a TEMPORARY keyword or simply a TEMP keyword.

The logical query of this view

is simply retrieving the unique list of brands

in our smartphone table.*/

create temp view temp_view_phone_brands
as select distinct brand from smartphones;
--let us query our view
select * from temp_view_phone_brands

In [0]:
%sql
/*Let us run the SHOW TABLES command again.

Here, we see that the temporary view

has been added to the list.

The isTemporary column shows that

this view is indeed a temporary object.

And since it is a temporary,

it is not persisted to any database.*/
show tables

In [0]:
%sql
/*Lastly, we create a global temporary view.

Here, we simply add GLOBAL keyword to the command.

Our global temporary view

is called global_temp_view_latest_phones

since the logical query here is retrieving all smartphones

from our table that has a releasing year newer than 2020,

and we order the results in descending order

to show first the most recent phones*/
create global temp view global_temp_view_latest_phones
as select * from smartphones where year>2020 order by year desc;
--let us query our view
select * from global_temp.global_temp_view_latest_phones
/*Before we move on,

let us review one last time the database table and views.

Our global temporary view is not listed here

as it is tied to the global_temp database.

To show tables and views in the global_temp database,

we use the command SHOW TABLE IN

and we specify the database.

In our case, it's a global_temp.

Here, we can see the global_temporary_view_latest_phones,

which is tied to the global_temp database,

which is of course a temporary object.

And since our temporary_view_phones_brands

is not tied to any database,

it is usually showing with every SHOW TABLES command.

Great.*/

In [0]:
%sql
show tables